@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap')

@font-face
    font-family: "Bahnschrift";
    src: url("fonts/Bahnschrift.woff2") format("woff2")

vendors = official

buttonTime = 0.5s
openTime = 0.5s
tsSize = 3.2rem
extendedSize = 16rem
primary = #FFF
secondary = #121A22
dimmed = #999

truncate-right(width, height, size)
    clip-path: polygon(0% 0%, "calc(%s - %s)" % (width size) 0%, width size, width "calc(%s - %s)" % (height size), "calc(%s - %s)" % (width size) height, 0% height)

truncate-left(width, height, size)
    clip-path: polygon(size 0%, width 0%, width height, size height, 0% "calc(%s - %s)" % (height size), 0% size)

truncate(width, height, size)
    clip-path: polygon(size 0%, "calc(%s - %s)" % (width size) 0%, width size, width "calc(%s - %s)" % (height size), "calc(%s - %s)" % (width size) height, size height, 0% "calc(%s - %s)" % (height size), 0% size)

#container
    position: fixed
    left: 0
    top: 20vh
    truncate-right(100%, tsSize, 0.4rem)
    transition: width buttonTime, clip-path openTime

    overflow: hidden

    display: inline-block
    font-family: 'Source Sans Pro', Arial, sans-serif
    font-size: 1rem

    &.activated
        truncate-right(100%, 100%, 0.4rem)
// Use clip-path as a hack instead of using height: auto because it can be animated.
// This does effectively the same thing but doesn't trigger a reflow.

#interior
    position: relative

    color: primary
    background: secondary
    width: tsSize
    display: inline-block
    transition: width buttonTime
    box-sizing: border-box
    padding: 0
    font-size: 1.5em

    #title:hover + &, #container.activated > &
        width: extendedSize

#container-shadow
    filter: drop-shadow(3px 3px 2px #0004) drop-shadow(0px 0px 5px #0002)
    position: fixed
    left: 0
    top: 0
    width: 0
    height: 0
    display: inline-block
    z-index: 999999999999

#title
    position: relative // To allow for vertically centered text in title-interior
    width: tsSize
    height: "calc(%s + 1px)" % tsSize // Add 1px to avoid seeing the line between #title and #interior.
    box-sizing: border-box
    padding-left: 0.5em
    padding-right: 0.5em
    font-size: 2em
    color: primary
    background: secondary

    white-space: nowrap

    transition: color buttonTime, background buttonTime, width buttonTime, padding-left buttonTime, padding-right buttonTime

    user-select: none
    cursor: pointer

    &:hover, #container.activated > &
        width: extendedSize
        color: secondary
        background: primary
        padding-left: 1em
        padding-right: 1em

        & span
            width: 0
        & svg *
            --primaryIconColor: secondary
            --secondaryIconColor: secondary
            --ternaryIconColor: #0000
        & > #icon
            left: -1.5em
    &:active
        filter: brightness(95%)

#title-interior
    position: absolute
    top: 50% // Vertically centered text.
    transform: translate(0%, calc((-100% - 1px) / 2)) // Add 1px due to adjustment in #title
    font-size: tsSize

    & > span
        width: 3em
        transition: width buttonTime
        display: inline-block

#icon
    width: 1.5em
    height: 1.5em
    position: absolute
    transform: translateY(calc((-100% - 1px) / 2)) // See above. ^
    top: 50%
    left: -0.05em

    transition: left buttonTime

    & *
        transition: fill buttonTime
        --primaryIconColor: #6e92a4
        --secondaryIconColor: #d28b6a
        --ternaryIconColor: #2B333B

.hidden
    visibility: hidden
    position: fixed
    left: -99999px
    top: -99999px

.radio-container
    radioPadding = 0.2em
    display: block
    position: relative
    padding: 0.5em 0

    &::before
        z-index: 1
        position: absolute
        content: ''
        transition: top 0.5s
        transform: translate(calc(1px - 50%), -50%)
        width: 0.25em
        height: 0.25em
        border-radius: 0.25em
        display: inline-block
        background: primary
        margin-left: 0.3em
        margin-top: radioPadding + 1em
        top: "calc(var(--index) * (%s * 2 + 1em))" % radioPadding

    .radio-label
        display: block
        padding: radioPadding 1em
        cursor: pointer
        height: 1em
        user-select: none
        color: dimmed
        transition: color 0.5s

    .hidden:checked + .radio-label
        color: primary

    .radio-label::before
        content: ''
        margin: 0 -0.7em
        display: inline-block
        position: absolute
        border: 1px solid #555
        height: 2 * radioPadding + 1em
        transform: "translateY(-%s)" % radioPadding

    .radio-label:nth-child(2)::before // nth-child(2) due to inputs.
        height: radioPadding + 0.5em
        margin: (0.5em + radioPadding) -0.7em 0
    .radio-label:last-child::before
        height: radioPadding + 0.5em
        margin: 0 -0.7em (0.5em + radioPadding)

.page
    position: relative
    visibility: hidden
    display: inline-block
    vertical-align: top
    width: 0%

    .back-button
        cursor: pointer
        position: absolute
        display: inline-block
        width: 1.2em
        height: 1.2em
        top: 50%
        left: 2%
        transform: translateY(-50%)
        transition: left 0.3s

        .back-arrow
            position: absolute
            background: dimmed
            top: 0%
            left: 0%
            width: 100%
            height: 100%
            display: inline-block
            clip-path: polygon(60% 10%, 20% 50%, 60% 90%, 70% 80%, 40% 50%, 70% 20%)
            transform: scale(0.8, 0.9)
            transition: background 0.3s
        &:hover
            left: 0%
            .back-arrow
                background: #FFF
    .page-title
        position: relative
        font-weight: bold
        text-align: center
        padding: 0.2em
        user-select: none
        box-sizing: border-box
        width: extendedSize
        margin: 0.1em 0
    .page-interior
        width: extendedSize
    .page-interior.no-title
        margin-top: 0.4em

.seperator
    margin: 0.2em
    border-bottom: 1px solid #666

.page-in-left
    animation: 0.1s ease-in-out both running page-animate-left-1
.page-in-right
    animation: 0.1s ease-in-out both running page-animate-right-1

.page-out-left
    animation: 0.1s ease-in-out reverse running page-animate-left-2
.page-out-right
    animation: 0.1s ease-in-out reverse running page-animate-right-2

page-al()
    0%
        visibility: visible
        left: -100%
    100%
        visibility: visible
        left: 0%
page-ar()
    0%
        visibility: visible
        left: 100%
    100%
        visibility: visible
        left: 0%

@keyframes page-animate-left-1
    page-al()
@keyframes page-animate-left-2
    page-al()
@keyframes page-animate-right-1
    page-ar()
@keyframes page-animate-right-2
    page-ar()

.forward-button
    position: relative
    cursor: pointer
    user-select: none
    padding: 0.2em 0 0.2em 0.3em
    .forward-arrow
        position: absolute
        background: dimmed
        top: 50%
        right: 2%
        width: 1.2em
        height: 1.2em
        display: inline-block
        clip-path: polygon(40% 10%, 80% 50%, 40% 90%, 30% 80%, 60% 50%, 30% 20%)
        transform: translateY(-50%) scale(0.8, 0.9)
        transition: background 0.3s, right 0.3s
    &:hover
        .forward-arrow
            right: 0%
            background: #FFF

    .forward-button-graphic-display
        width: 1em
        height: 1em
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        svg
            fill: primary

    &.forward-button-has-graphic
        padding-left: 1em

.hidden:checked
    background: primary

.checkbox-container
    checkboxPadding = 0.2em

    beforeDot()
        position: absolute
        content: ''
        width: 0.25em
        height: 0.25em
        border-radius: 0.25em
        display: inline-block
        background: dimmed
        left: 0.5em
        top: 50%
        transform: translate(-50%, -50%) scale(0.4)

    .checkbox-label
        position: relative
        padding: checkboxPadding 1em
        cursor: pointer
        height: 1em
        user-select: none
        color: dimmed
        transition: color 0.5s
        display: block
        &::before
            beforeDot()
            transition: transform 0.5s, background 0.5s
            z-index: 1
        &::after
            beforeDot()
    .hidden:checked ~ .checkbox-label
        color: primary
    .hidden:checked ~ .checkbox-label::before
        transform: translate(-50%, -50%) scale(1)
        background: primary

#info-container
    position: fixed
    bottom: 0%
    left: 0%
    width: 100%
    font-size: 1.3em
    font-family: 'Source Sans Pro', Arial, sans-serif
    filter: drop-shadow(3px 3px 2px #0004) drop-shadow(0px 0px 5px #0002)

.button
    padding: 0.5em
    border-radius: 0.3em
    cursor: pointer
    min-width: 1.5em
    text-align: center

    buttonShadow()
        return unquote("1px 1px 2px var(--button-shadow), 2px 2px 4px var(--button-shadow), 3px 3px 8px var(--button-shadow), 4px 4px 16px var(--button-shadow)")
    buttonShadow2()
        return unquote("1px 1px 4px var(--button-shadow), 2px 2px 8px var(--button-shadow), 3px 3px 16px var(--button-shadow), 4px 4px 32px var(--button-shadow), 5px 5px 64px var(--button-shadow),")

    &.button-fill
        background: var(--button-primary)
        color: var(--button-secondary)
        transition: filter buttonTime, box-shadow buttonTime
        box-shadow: buttonShadow();
    &.button-ghost
        color: var(--button-primary)
        background: var(--button-secondary)
        transition: color buttonTime, background buttonTime, box-shadow buttonTime
        box-shadow: inset 0px 0px 0px 1px var(--button-primary), buttonShadow();

    &:hover
        transform: scale(1.01)
        transform-origin: center center
    &.button-fill:hover, &.button-fill.button-activated
        filter: brightness(90%)
        box-shadow: buttonShadow2() buttonShadow2() buttonShadow()
    &.button-ghost:hover
        box-shadow: inset 0px 0px 0px 1px var(--button-primary), buttonShadow2() buttonShadow2() buttonShadow()
    &.button-ghost:not(.button-toggle):hover, &.button-ghost.button-activated
        background: var(--button-primary)
        color: var(--button-secondary)

    &.button-inline
        display: inline
    &:not(.button-inline)
        display: inline-block
        position: relative
        left: 50%
        transform: translateX(-50%)
    &.button-fill:active
        transition-property: none
        filter: brightness(80%)
    &.button-ghost:active
        filter: brightness(80%)