@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap')

#container
    position: fixed
    left: 0em
    top: 20vh

    background-color: #212121
    color: #FFF

    clip-path: polygon(0% 0%, calc(100% - 0.4em) 0%, 100% 0.4em, 100% calc(100% - 0.4em), calc(100% - 0.4em) 100%, 0% 100%)
    transition: width 0.5s, height 0.5s

    white-space: nowrap
    overflow: hidden

    display: inline-block
    font-family: 'Source Sans Pro', Arial, sans-serif

#title
    position: relative
    width: 1.5em
    height: 1.5em
    box-sizing: border-box
    padding-left: 0.5em
    padding-right: 0.5em
    font-size: 2em

    transition: color 0.5s, background-color 0.5s, width 0.5s, height 0.5s

    user-select: none
    cursor: pointer

    &:hover
        width: 7em
        color: #212121
        background-color: #FFF

        & span
            width: 0em
        & svg
            fill: #212121
        & > #icon
            left: -1.5em

#title-interior
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-size: 1.5em

    & > span
        width: 3em
        transition: width 0.5s
        display: inline-block

#icon
    width: 1.5em
    height: 1.5em
    position: absolute
    transform: translateY(-50%)
    top: 50%
    left: -0.05em

    transition: left 0.3s

    & > svg
        fill: white