@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap')

buttonTime = 0.5s
openTime = 0.5s
tsSize = 3.2rem
extendedSize = 16rem
primary = #FFF
secondary = #111

truncate-right(width, height, size)
    clip-path: polygon(0% 0%, "calc(%s - %s)" % (width size) 0%, width size, width "calc(%s - %s)" % (height size), "calc(%s - %s)" % (width size) height, 0% height)

truncate-left(width, height, size)
    clip-path: polygon(size 0%, width 0%, width height, size height, 0% "calc(%s - %s)" % (height size), 0% size)

#container
    position: fixed
    left: 0em
    top: 20vh
    truncate-right(100%, tsSize, 0.4rem)
    transition: width buttonTime, clip-path openTime

    overflow: hidden

    display: inline-block
    font-family: 'Source Sans Pro', Arial, sans-serif
    font-size: 1rem

    &.activated
        truncate-right(100%, 100%, 0.4rem)
// Use clip-path as a hack instead of using height: auto because it can be animated.
// This does effectively the same thing but doesn't trigger a reflow.

#interior
    color: primary
    background: secondary
    width: tsSize
    display: inline-block
    transition: width buttonTime
    box-sizing: border-box
    padding: 0em

    #title:hover + &, #container.activated > &
        width: extendedSize

#container-shadow
    filter: drop-shadow(3px 3px 2px #0004) drop-shadow(0px 0px 5px #0002)
    position: fixed
    left: 0em
    top: 0em
    width: 0em
    height: 0em
    display: inline-block

#title
    position: relative // To allow for vertically centered text in title-interior
    width: tsSize
    height: "calc(%s + 1px)" % tsSize // Add 1px to avoid seeing the line between #title and #interior.
    box-sizing: border-box
    padding-left: 0.5em
    padding-right: 0.5em
    font-size: 2em
    color: primary
    background: secondary

    white-space: nowrap

    transition: color buttonTime, background buttonTime, width buttonTime, padding-left buttonTime, padding-right buttonTime

    user-select: none
    cursor: pointer

    &:hover, #container.activated > &
        width: extendedSize
        color: secondary
        background: primary
        padding-left: 1em
        padding-right: 1em

        & span
            width: 0em
        & svg
            fill: secondary
        & > #icon
            left: -1.5em
    &:active
        filter: brightness(95%)

#title-interior
    position: absolute
    top: 50% // Vertically centered text.
    transform: translate(0%, calc((-100% - 1px) / 2)) // Add 1px due to adjustment in #title
    font-size: tsSize

    & > span
        width: 3em
        transition: width buttonTime
        display: inline-block

#icon
    width: 1.5em
    height: 1.5em
    position: absolute
    transform: translateY(calc((-100% - 1px) / 2)) // See above. ^
    top: 50%
    left: -0.05em

    transition: left buttonTime

    & > svg
        transition: fill buttonTime
        fill: primary

.radio-container
    radioPadding = 0.2em
    font-size: 1.5em
    display: block
    position: relative

    &::before
        z-index: 1
        position: absolute
        content: ''
        transition: top 0.5s
        transform: translate(calc(1px - 50%), -50%)
        width: 0.25em
        height: 0.25em
        border-radius: 0.25em
        display: inline-block
        background: primary
        margin-left: 0.3em
        margin-top: radioPadding + 0.5em
        top: "calc(var(--index) * (%s * 2 + 1em))" % radioPadding

    &::after
        z-index: 1
        position: absolute
        content: ''
        transition: top 0.5s
        height: 1em
        padding: radioPadding
        display: inline-block
        width: 100%
        margin-left: 0.7em
        background: #FFF3
        top: "calc(var(--index) * (%s * 2 + 1em))" % radioPadding
        truncate-left(100%, 100%, 0.4rem)

    .hidden-radio
        visibility: hidden
        position: fixed
        left: -99999px
        top: -99999px

    .radio-label
        display: block
        padding: radioPadding 1em
        height: 1em

    .radio-label::before
        content: ''
        margin: 0em -0.7em
        display: inline-block
        position: absolute
        border: 1px solid #555
        height: 2 * radioPadding + 1em
        transform: "translateY(-%s)" % radioPadding

    .radio-label:nth-child(2)::before // nth-child(2) due to inputs.
        height: radioPadding + 0.5em
        margin: (0.5em + radioPadding) -0.7em 0em
    .radio-label:last-child::before
        height: radioPadding + 0.5em
        margin: 0em -0.7em (0.5em + radioPadding)
